{% load static %}

<!--
Nombre: base.html
Descripcion: Plantilla base que carga estilos, componentes globales, scripts principales y bloques reutilizables del frontend.
-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block title %}Vape Shop{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'store/css/style.css' %}?v=40">

    {% block extra_head %}{% endblock %}
</head>

<body class="light-mode">

    {% include 'store/components/icons_sprite.html' %}

    {% include 'store/components/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'store/components/footer.html' %}

    {% include 'store/components/cart_drawer.html' %}
    {% include 'store/components/auth_modal.html' %}
    {% include 'store/components/profile_modal.html' %}
    {% include 'store/components/orders_modal.html' %}
    {% include 'store/components/favorites_modal.html' %}
    {% include 'store/components/product_detail_modal.html' %}
    {% include 'store/components/checkout_success_modal.html' %}
    {% include 'store/components/age_verification_modal.html' %}
    <div id="toast-container" class="toast-container"></div>

    <script src="{% static 'store/js/app.js' %}?v=csp-4"></script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
