APP_PORT=8080

DJANGO_SECRET_KEY=reemplaza-con-una-clave-aleatoria-de-al-menos-cincuenta-caracteres
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,proxy
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
DJANGO_ADMIN_URL_PATH=panel-seguro/
DJANGO_ADMIN_ALLOWED_IPS=
GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=60

MYSQL_DATABASE=vapes_shop
MYSQL_USER=vapes_user
MYSQL_PASSWORD=reemplaza-con-una-contrasena-segura
MYSQL_ROOT_PASSWORD=reemplaza-con-otra-contrasena-segura

CONTACT_WHATSAPP_NUMBER=573016604375
